/*.quote{
  opacity:0;
  
}*/

.twitter{
  width:38px;
  height:38px
}

.background{
  align-content:center;
  transition: background-color 500ms ease-in-out; /*opacity 500ms ease-in-out;*/
  padding: 1px;
}

.fade-out {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.fade-in {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.fade-button {
  transition: background-color 500ms ease-in-out;
}
/*.visible{
  opacity:1;
  transition: opacity 2000ms;
  
}*/

.tumblr{
  width:38px;
  height:38px
}


.w-500px {
  width: 500px;
}

.quote-box{
  margin:auto;
  padding: 30px 60px 30px 60px;
  /*margin-top:200px;*/
  /*transition: background-color 1s ease-in-out;*/
}

.quotation{
  display:inline-block;
  margin:5px;
  font-size:50px;
  
}

.p-1px{
  padding:1px;
}

.btn-hover-light:hover {
  filter: brightness(1.15); /* Makes color 20% lighter */
}

.body-color{
  
  background-color: #333

}

.text-color{
  color:#333
}
.bg-sunset-orange { background-color: rgb(243, 156, 18) !important; }
.text-sunset-orange { color: rgb(243, 156, 18) !important; }

.bg-deep-coffee { background-color: rgb(52, 34, 36) !important; }
.text-deep-coffee { color: rgb(52, 34, 36) !important; }

.bg-emerald-green { background-color: rgb(39, 174, 96) !important; }
.text-emerald-green { color: rgb(39, 174, 96) !important; }

.bg-royal-purple { background-color: rgb(155, 89, 182) !important; }
.text-royal-purple { color: rgb(155, 89, 182) !important; }

.bg-navy-storm { background-color: rgb(44, 62, 80) !important; }
.text-navy-storm { color: rgb(44, 62, 80) !important; }

.bg-mulberry-brown { background-color: rgb(71, 46, 50) !important; }
.text-mulberry-brown { color: rgb(71, 46, 50) !important; }

.bg-coral-red { background-color: rgb(251, 105, 100) !important; }
.text-coral-red { color: rgb(251, 105, 100) !important; }

